<%-include ("../Includes/Admin/head.ejs")%>

    <body>
        <script src="/assets/static/js/initTheme.js"></script>
        <div id="app">
            <%-include ("../Includes/Admin/header.ejs")%>
                <div id="main" class='layout-navbar navbar-fixed'>
                    <%-include ("../Includes/Admin/header_top.ejs")%>
                        <div id="main-content">

                            <div class="page-heading">
                                <div class="page-title">
                                    <div class="row">
                                        <div class="col-12 col-md-6 order-md-1 order-last">
                                            <h3>Bookings</h3>
                                            <p class="text-subtitle text-muted">Check all booking by route and schedule.
                                            </p>
                                        </div>
                                        <div class="col-12 col-md-6 order-md-2 order-first">
                                            <nav aria-label="breadcrumb"
                                                class="breadcrumb-header float-start float-lg-end">
                                                <ol class="breadcrumb">
                                                    <li class="breadcrumb-item"><a href="/admin/">Dashboard</a></li>
                                                    <li class="breadcrumb-item"><a href="/admin/booking">Booking</a>
                                                    </li>
                                                    <li class="breadcrumb-item active" aria-current="page">Route
                                                    </li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <section class="section">
                                    <div class="mb-3">
                                        <form action="/admin/booking/route/<%=route_id%>" method="get" class="row">
                                      

                                            <div class="col-lg-5 col-10">
                                                <input type="date" class="form-control" id="fromDate" name="date" value="<%=cur_date%>"
                                                required>
                                            </div>
                                            <div class="col-lg-4 col-2">
                                                <button type="submit" class="btn btn-primary">Search</button>
                                            </div>
                         
                                        </form>
                                    </div>
                                
                                    <h4>
                                        <%if (routes_schedule.length> 0) {%>
                                            <%=routes_schedule[0]?.start_point%> -
                                                <%=routes_schedule[0]?.end_point%>
                                                    <%}%>

                                    </h4>
                                    <div class="row">
                                        <%if (routes_schedule.length> 0) {%>
                                            <% routes_schedule.forEach((route,index)=> { %>
                                                <div class="col-lg-4">

                                                    <div class="card">

                                                        <div class="card-body">
                                                            <h4 class="card-title">
                                                                <% function getOrdinal(n) { const s=["th", "st" , "nd"
                                                                    , "rd" ]; const v=n % 100; return n + (s[(v - 20) %
                                                                    10] || s[v] || s[0]); } %>
                                                                    <%= getOrdinal(index + 1) %> Trip
                                                            </h4>
                                                            <p class="card-text mb-1">Date: <%= new
                                                                    Intl.DateTimeFormat('en-US', {month: 'short' ,
                                                                    day: '2-digit' , year: 'numeric' }).format(
                                                                    route.departure_date) %>
                                                            </p>
                                                            <p class="card-text">
                                                                Time: 
                                                                <span id="departureTime"><%= route.departure_time %></span> -
                                                                <span id="arrivalTime"><%= route.arrival_time %></span>
                                                            </p>
                                                            <a class="btn btn-primary block me-1"
                                                                href="/admin/booking/route/schedule/<%= route.schedule_id %>">View</a>

                                                        </div>
                                                    </div>

                                                </div>
                                                <% }) %>
                                                    <%} else {%>
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <h3>No Available Schedule. Please add schedule <a
                                                                        href="/admin/route-schedule">here</a></h3>

                                                            </div>
                                                        </div>
                                                        <%}%>
                                    </div>


                                </section>
                            </div>

                        </div>

                </div>
        </div>
        <%-include ("../Includes/Admin/script.ejs")%>

    </body>

    </html>