<%-include ("../Includes/Admin/head.ejs")%>

    <body>
        <script src="/assets/static/js/initTheme.js"></script>

        <div id="app">
            <%-include ("../Includes/Admin/header.ejs")%>
                <div id="main" class='layout-navbar navbar-fixed'>
                    <%-include ("../Includes/Admin/header_top.ejs")%>
                        <div id="main-content">


                            <div class="page-heading">
                                <h3>Profile Statistics</h3>
                            </div>
                            <div class="page-content">
                                <section class="row">
                                    <div class="col-12 col-lg-12">
                                        <div class="row">
                                            <div class="col-6 col-lg-3 col-md-6">
                                                <div class="card">
                                                    <div class="card-body px-4 py-4-5">
                                                        <div class="row">
                                                            <div
                                                                class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                                                <div class="stats-icon purple mb-2">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25"
                                                                        height="25" fill="currentColor"
                                                                        class="bi bi-cash" viewBox="0 0 16 16">
                                                                        <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                                                                        <path
                                                                            d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2z" />
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                                                <h6 class="text-muted font-semibold">Total Sales</h6>
                                                                <h6 class="font-extrabold mb-0">₱ <%=total_sales
                                                                        || '0.00' %>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-lg-3 col-md-6">
                                                <div class="card">
                                                    <div class="card-body px-4 py-4-5">
                                                        <div class="row">
                                                            <div
                                                                class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                                                <div class="stats-icon blue mb-2">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                        height="16" fill="currentColor"
                                                                        class="bi bi-ticket-detailed"
                                                                        viewBox="0 0 16 16">
                                                                        <path
                                                                            d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M5 7a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2z" />
                                                                        <path
                                                                            d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6zM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5z" />
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                                                <h6 class="text-muted font-semibold">Total Bookings</h6>
                                                                <h6 class="font-extrabold mb-0">
                                                                    <%=total_bookings || '0' %>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-lg-3 col-md-6">
                                                <div class="card">
                                                    <div class="card-body px-4 py-4-5">
                                                        <div class="row">
                                                            <div
                                                                class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                                                <div class="stats-icon green mb-2">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                        height="16" fill="currentColor"
                                                                        class="bi bi-calendar-week" viewBox="0 0 16 16">
                                                                        <path
                                                                            d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z" />
                                                                        <path
                                                                            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                                                <h6 class="text-muted font-semibold">Avail Schedule</h6>
                                                                <h6 class="font-extrabold mb-0">
                                                                    <%=total_schedule || '0' %>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-lg-3 col-md-6">
                                                <div class="card">
                                                    <div class="card-body px-4 py-4-5">
                                                        <div class="row">
                                                            <div
                                                                class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                                                <div class="stats-icon red mb-2">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                        height="16" fill="currentColor"
                                                                        class="bi bi-person-circle" viewBox="0 0 16 16">
                                                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                                                        <path fill-rule="evenodd"
                                                                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                                                <h6 class="text-muted font-semibold">Total User</h6>
                                                                <h6 class="font-extrabold mb-0">
                                                                    <%=total_user%>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4>Recent Bookings</h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table id="bookingTable" class="table table-hover "
                                                                style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>Full Name</th>
                                                                        <th>Contact</th>
                                                                        <th>Booking Date</th>
                                                                        <th>Booking Expiration</th>
                                                                        <th>Seat Numbers</th>
                                                                        <th>Fare</th>
                                                                        <th>Status</th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <%booking_schedule.forEach((booking,index)=> {%>
                                                                        <tr>
                                                                            <td>
                                                                                <%=index + 1%>
                                                                            </td>
                                                                            <td>
                                                                                <%=booking.fullname%>
                                                                            </td>
                                                                            <td>
                                                                                <%=booking.contact%>
                                                                            </td>
                                                                            <td>
                                                                                <%= new Intl.DateTimeFormat('en-US',
                                                                                    {month: 'short' , day: '2-digit' ,
                                                                                    year: 'numeric' }).format(new
                                                                                    Date(booking.booking_date)) %>

                                                                            </td>
                                                                            <td>
                                                                                <%= new Intl.DateTimeFormat('en-US',
                                                                                    {month: 'short' , day: '2-digit' ,
                                                                                    year: 'numeric' }).format(new
                                                                                    Date(booking.booking_expiration)) %>

                                                                            </td>
                                                                            <td>
                                                                                <%=booking.seat_numbers%>
                                                                            </td>
                                                                            <td>

                                                                                ₱ <%=booking.fare_paid%>
                                                                            </td>

                                                                            <td>
                                                                                <span class="badge <%= 
                                                                        booking.status === 'Pending' ? 'bg-warning' : 
                                                                        booking.status === 'Cancelled' ? 'bg-danger' : 
                                                                        booking.status === 'Paid' ? 'bg-success' : 
                                                                        'bg-secondary' // Default case if none of the above
                                                                    %>">
                                                                                    <%= booking.status %>
                                                                                </span>
                                                                            </td>



                                                                        </tr>
                                                                        <%})%>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4>Booking Type Total</h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <div id="chart-visitors-profile"></div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </section>
                            </div>


                        </div>

                </div>
        </div>
        <%-include ("../Includes/Admin/script.ejs")%>
            <script src="/assets/extensions/apexcharts/apexcharts.min.js"></script>
            <script>

                document.addEventListener("DOMContentLoaded", () => {
                    var optionsVisitorsProfile = {
                        series: [<%=booking_type[0].count %>, <%=booking_type[1].count %>],
                        labels: ['<%=booking_type[0].booking_type%>', '<%=booking_type[1].booking_type%>'],
                        colors: ["#435ebe", "#55c6e8"],
                        chart: {
                            type: "donut",
                            width: "100%",
                            height: "350px",
                        },
                        legend: {
                            position: "bottom",
                        },
                        plotOptions: {
                            pie: {
                                donut: {
                                    size: "30%",
                                },
                            },
                        },
                    };
                    var chartVisitorsProfile = new ApexCharts(
                        document.getElementById("chart-visitors-profile"),
                        optionsVisitorsProfile
                    )
                    chartVisitorsProfile.render()
                })


            </script>

    </body>

    </html>