<%-include ("../Includes/Admin/head.ejs")%>

    <body>
        <script src="/assets/static/js/initTheme.js"></script>
        <div id="app">
            <%-include ("../Includes/Admin/header.ejs")%>
                <div id="main" class='layout-navbar navbar-fixed'>
                    <%-include ("../Includes/Admin/header_top.ejs")%>
                        <div id="main-content">

                            <div class="page-heading">
                                <div class="page-title">
                                    <div class="row">
                                        <div class="col-12 col-md-6 order-md-1 order-last">
                                            <h3>Transaction History</h3>
                                            <p class="text-subtitle text-muted">Check all transaction history.</p>
                                        </div>
                                        <div class="col-12 col-md-6 order-md-2 order-first">
                                            <nav aria-label="breadcrumb"
                                                class="breadcrumb-header float-start float-lg-end">
                                                <ol class="breadcrumb">
                                                    <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                                                    <li class="breadcrumb-item active" aria-current="page">Transaction
                                                        History
                                                    </li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <section class="section">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="mb-2 row justify-content-end">
                                                <div class="col-auto">
                                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                        data-bs-target="#exampleModal">
                                                        <i class="bi bi-plus-circle"></i> Generate Sales Report
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="table-responsive-md">
                                                <table id="routeTable" class="table table-hover " style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Bus Number</th>
                                                            <th>Route</th>
                                                            <th>Date & Time</th>
                                                            <th>Passenger Name</th>
                                                            <th>Booking Type</th>
                                                            <th>Tickey Qty.</th>
                                                            <th>Total</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <%route_schedule.forEach((route,index)=> {%>
                                                            <tr>
                                                                <td>
                                                                    <%=index + 1%>
                                                                </td>
                                                                <td>
                                                                    <%=route.bus_number%>
                                                                </td>
                                                                <td>
                                                                    <%=route.route%>
                                                                </td>
                                                                <td>
                                                                    <%=route.date_time%>
                                                                </td>
                                                                <td>
                                                                    <%=route.passenger_name%>
                                                                </td>

                                                                <td>
                                                                    <%= route.booking_type%>
                                                                </td>

                                                                <td>
                                                                    <%= route.ticket_qty%>
                                                                </td>

                                                                <td>
                                                                    ₱ <%= route.total%>
                                                                </td>
                                                            </tr>
                                                            <%})%>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>

                        </div>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Generate Sales</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <form action="/admin/transaction-history/search" method="get">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="fromDate">From Date:</label>
                                            <input type="date" class="form-control" id="fromDate" name="from_date" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="toDate">To Date:</label>
                                            <input type="date" class="form-control" id="toDate" name="to_date" required>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
        </div>
        <%-include ("../Includes/Admin/script.ejs")%>
        <script src="/js/jquery.js"></script>
        <script src="/vendor/datatables/datatables.js"></script>
        <script src="/vendor/datatables/datatables.bootstrap.js"></script>


        <script src="/vendor/datatables/buttons_datatables.js"></script>

        <script src="/vendor/datatables/jszip_datatables.js"></script>
        <script src="/vendor/datatables/pdfmake_datatables.js"></script>
        <script src="/vendor/datatables/vfs_fonts_datatables.js"></script>
        <script src="/vendor/datatables/buttons_html5_datatables.js"></script>
            <script>
                new DataTable('#routeTable', {


                });
            </script>
    </body>

    </html>