<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">


    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">

    <title>Claveria Bus Booking</title>
    <style>
        #fare_inp {
            text-align: right;
            color: #3f9fbd !important;
            /* Forces this color, overriding other styles */
        }

        #fare_inp::placeholder {
            color: #3f9fbd;
            /* Teal color for the placeholder */
            text-align: right;
            /* Align placeholder text to the right */
        }

        #seat_status {
            scroll-margin-top: 60px;
            /* Adjust the value as needed */
        }

        .submit-btn {
            width: 150px;
            padding: 10px;
            background-color: #388da8;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 1.2rem;
            border-radius: .75rem;
        }

        .submit-btn:hover {
            background-color: #3f9fbd;
        }


        .book-btn {
            width: 100px;
            padding: 6px;
            background-color: #388da8;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 1rem;
            border-radius: .75rem;
        }

        .book-btn:hover {
            background-color: #3f9fbd;
        }

        .highlight {
            color: #3f9fbd;
        }

        .book-btn-1 {
            width: 100px;
            padding: 6px;
            background-color: #388da8;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 1rem;
            border-radius: .75rem;
        }

        .book-btn-1:hover {
            color: white;
            background-color: #3f9fbd;
        }


        /* Existing styles */
        .seat {
            position: relative;
            width: 60px;
            height: 60px;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
        }

        .seat img {
            width: 100%;
            height: auto;
            vertical-align: middle;
        }

        .seat span {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            font-size: 12px;
            color: black;
            pointer-events: none;
        }

        /* New styles for hover and selected states */
        .seat.available:hover {
            background-color: #3f9fbd;
            /* Light green background for hover on available seats */
            cursor: pointer;
            border-radius: 5px;
        }

        .seat.selected {
            background-color: #3f9fbd;
            border-radius: 5px;
            /* Blue background for selected seats */
        }

        .seat.unavailable,
        .seat.booked {
            background-color: #e74c3c;
            /* Red background for unavailable and booked seats */
            cursor: not-allowed;
            border-radius: 5px;
        }
    </style>
</head>

<body class="index-page">

    <header id="header" class="header d-flex align-items-center ">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">

            <a href="/" class="logo d-flex align-items-center me-auto">
                <img src="/images/logo.png" alt="">
                <h1 class="sitename">Claveria Tours</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="/#" class="">Home</a></li>
                    <li><a href="/#about">About</a></li>
                    <li><a href="/#contact">Contact Us</a></li>

                    <%if (user.role==='guess' ) {%>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <a class="btn-getstarted" href="/login">Login</a>
            <%} else {%>


                <li><a href="/account">My Account</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                </nav>

                <a class="btn-getstarted" href="/logout">Logout</a>
                <%}%>


        </div>
    </header>

    <main class="main">
        <div class="container-lg">
            <div class="p-4 rounded-4 shadow-sm mb-3">
                <form action="/booking" method="get">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelect1"
                                    aria-label="Floating label select example" name="destination" required>
                                    <option selected disabled value="" <%=!routeId ? 'selected' : '' %>>Travel Location
                                    </option>
                                    <% routes.forEach((route)=> { %>
                                        <option value="<%= route.route_id %>" <%=routeId==route.route_id ? 'selected'
                                            : '' %>><%= route.start_point %> - <%= route.end_point %>
                                        </option>
                                        <% }) %>
                                </select>

                                <label for="floatingSelect1">Routes</label>

                            </div>

                        </div>
                        <div class="col-lg-4">
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" id="floatingInput2" value="<%=departure%>"
                                    min="<%= new Date().toISOString().split('T')[0] %>" placeholder="" required
                                    name="departure">
                                <label for="floatingInput">Travel Date</label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="floatingInput3"
                                    value="<%=passengerCount%>" required name="passengerCount">
                                <label for="floatingInput">Passengers</label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="text-center">
                                <button type="submit" class="submit-btn"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="16" height="16" fill="currentColor" class="bi bi-search"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                    </svg> SEARCH</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="p-4 rounded-4 shadow-sm">
                        <% if (available_schedule.length !==0) {%>

                            <div class="location-header">
                                <h3 class="fw-bold">
                                    <%=available_schedule[0].start_point || route_details.start_point %> <span
                                            style="color: #388da8bf;">TO</span>
                                        <%=available_schedule[0].end_point || route_details.end_point%>
                                </h3>
                                <p>Travel Date: <span class="fw-bold">
                                        <%= new Intl.DateTimeFormat('en-US', {month: 'short' , day: '2-digit' ,
                                            year: 'numeric' }).format(available_schedule[0].departure_date) %> - <%= new
                                                Intl.DateTimeFormat('en-US', {weekday: 'short'
                                                }).format(available_schedule[0].departure_date) %>


                                    </span></p>
                            </div>
                            <hr>
                            <%available_schedule.forEach((booking, index)=> {%>
                                <div class="search-result-main">
                                    <div class="search-result">
                                        <div class="p-4 rounded-4 shadow-sm">
                                            <div class="boarding-details mb-3">

                                                <span class="badge rounded-pill mb-1  fs-6"
                                                    style="background-color: #388da8bf;">₱
                                                    <%=booking.fare%>
                                                </span>
                                                <span class="badge rounded-pill mb-1  fs-6"
                                                    style="background-color: #388da8bf;">Bus Number:
                                                    <%=booking.bus_number%>
                                                </span>

                                                <span class="badge rounded-pill  fs-6"
                                                    style="background-color: #388da8bf;">
                                                    <%= new Intl.DateTimeFormat('en-US', {month: 'short' ,
                                                        day: '2-digit' , year: 'numeric'
                                                        }).format(booking.departure_date) %> - <%= new
                                                            Intl.DateTimeFormat('en-US', {weekday: 'short'
                                                            }).format(booking.departure_date) %> -
                                                            <%=booking.departure_time%>
                                                </span>

                                            </div>
                                            <div class="booking-details">
                                                <div class="row">
                                                    <div class="col-lg-9">
                                                        <p class="mb-1"><svg xmlns="http://www.w3.org/2000/svg"
                                                                width="16" height="16" fill="currentColor"
                                                                class="bi bi-person-fill" viewBox="0 0 16 16">
                                                                <path
                                                                    d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                                            </svg> Seats Available: <span class="highlight fw-bold">
                                                                <%=booking.available_seats%>
                                                            </span>
                                                        </p>
                                                        <p class="mb-1"><svg xmlns="http://www.w3.org/2000/svg"
                                                                width="16" height="16" fill="currentColor"
                                                                class="bi bi-clock" viewBox="0 0 16 16">
                                                                <path
                                                                    d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
                                                                <path
                                                                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
                                                            </svg> Time: <span class="highlight ">5 hours</span></p>
                                                        <p><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                height="16" fill="currentColor"
                                                                class="bi bi-calendar-check" viewBox="0 0 16 16">
                                                                <path
                                                                    d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0" />
                                                                <path
                                                                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                                                            </svg> Estimated Arrival: <span class="highlight fw-bold">
                                                                <%= new Intl.DateTimeFormat('en-US', {month: 'short' ,
                                                                    day: '2-digit' , year: 'numeric'
                                                                    }).format(booking.departure_date) %> - <%= new
                                                                        Intl.DateTimeFormat('en-US', {weekday: 'short'
                                                                        }).format(booking.departure_date) %> -
                                                                        <%=booking.arrival_time%>
                                                            </span></p>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="text-center">
                                                            <%if (user.role==='guess' ) {%>
                                                                <a href="/login" class="book-btn-1" type="button">Book
                                                                    Seats</a>
                                                                <%} else {%>
                                                                    <%if (departure !==new
                                                                        Date().toISOString().split('T')[0]) {%>
                                                                        <button class="book-btn"
                                                                            onclick="bookingDetails(<%=booking.schedule_id%>)">Book
                                                                            Seats</button>
                                                                        <%} else {%>
                                                                            <button type="button" class=" book-btn"
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#exampleModal">
                                                                                Book
                                                                                Seats
                                                                            </button>
                                                                            <%}%>
                                                                                <%}%>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%})%>
                                    <%} else {%>
                                        <div class="location-header">
                                            <h3 class="fw-bold">
                                                <%=route_details.start_point %> <span
                                                        style="color: #388da8bf;">TO</span>
                                                    <%=route_details.end_point%>
                                            </h3>
                                            <p>Travel Date: <span class="fw-bold">
                                                    <%= new Intl.DateTimeFormat('en-US', {month: 'short' ,
                                                        day: '2-digit' , year: 'numeric' }).format(new Date(departure))
                                                        %> - <%= new Intl.DateTimeFormat('en-US', {weekday: 'short'
                                                            }).format(new Date(departure)) %>


                                                </span></p>
                                        </div>
                                        <hr>
                                        <h2>No Available Schedule</h2>
                                        <%}%>


                    </div>
                </div>
                <% if (available_schedule.length !==0) {%>
                    <div class="col-lg-5" id="booking_scroll">
                        <form id="bookingForm">
                            <div class="d-none" id="seat_container">
                                <div class="p-4 rounded-4 shadow-sm text-center">
                                    <h4 class="fw-bold">Choose Seat</h4>
                                    <p id="seat_status" class="small text-danger"></p>
                                    <table class="table table-sm table-borderless">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div data-id="1 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>1</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="2 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>2</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="">
                                                        <img alt="" src="/svg/blank.svg">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="3 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>3</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="4 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>4</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div data-id="5 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>5</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="6 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>6</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="">
                                                        <img alt="" src="/svg/blank.svg">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="7 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>7</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="8 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>8</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div data-id="9 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>9</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="10 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>10</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="">
                                                        <img alt="" src="/svg/blank.svg">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="11 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>11</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="12 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>12</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div data-id="13" data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>13</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="14" data-type=" 1"="" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>14</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="">
                                                        <img alt="" src="/svg/blank.svg">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="15" data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>15</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="16" data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>16</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div data-id="17 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>17</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="18 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>18</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="">
                                                        <img alt="" src="/svg/blank.svg">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="19 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>19</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="20 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>20</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div data-id="21 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>21</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="22 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>22</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="">
                                                        <img alt="" src="/svg/blank.svg">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="23 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>23</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="24 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>24</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div data-id="25 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>25</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="26 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>26</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="">
                                                        <img alt="" src="/svg/blank.svg">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="27 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>27</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="28 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>28</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div data-id="29 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>29</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="30 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>30</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="">
                                                        <img alt="" src="/svg/blank.svg">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="31 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>31</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="32 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>32</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div data-id="33 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>33</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="34 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>34</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="">
                                                        <img alt="" src="/svg/blank.svg">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="35 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>35</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="36 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>36</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div data-id="37 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>37</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="38 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>38</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="">
                                                        <img alt="" src="/svg/blank.svg">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="39 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>39</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div data-id="40 " data-type="1" class="seat available">
                                                        <img alt="" src="/svg/chair.svg">
                                                        <span>40</span>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="p-4 rounded-4 shadow-sm">
                                <div class="summary-title text-center">
                                    <h4>Booking Summary</h4>
                                </div>
                                <div class="location">
                                    <div class="p-4 rounded-4 shadow-sm">
                                        <p>Destination: <span class="highlight float-end">
                                                <%=route_details.start_point%> - <%=route_details.end_point%>
                                            </span> </p>
                                        <p>Departure: <span class="highlight float-end" id="departure_time">

                                            </span></p>
                                    </div>
                                </div>

                                <div class="fare">
                                    <div class="p-4 rounded-4 shadow-sm">
                                        <div class="drop_off">

                                            <div class="row justify-content-between">
                                                <div class="col-md-6">
                                                    <label for="exampleFormControlInput2" class="form-label">Drop Off
                                                        Point:</label>
                                                </div>

                                                <div class="col-md-6">
                                                    <input type="text"
                                                        class="form-control form-control-sm dropdown-toggle"
                                                        id="autocompleteInput" name="drop_off" placeholder="Search..."
                                                        data-bs-toggle="dropdown" aria-expanded="false" required>
                                                    <ul id="autocompleteList" class="dropdown-menu"
                                                        style="max-height: 200px; overflow-y: auto;"
                                                        aria-labelledby="autocompleteInput"></ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fare">
                                            <div class="row justify-content-between">
                                                <div class="col-8 ">
                                                    <label for="fare" class="col-form-label ">Fare:</label>
                                                </div>
                                                <div class="col-4">
                                                    <input type="text" class="form-control-plaintext" id="fare_inp"
                                                        name="fare" placeholder="₱: 0.00" required readonly
                                                        style="text-align: right; color: #3f9fbd !important; ">
                                                    <input type="hidden" class="" id="fare_inp2" name="fare2" ">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class=" subtotal">
                                                    <div class="p-4 rounded-4 shadow-sm">
                                                        <p>Departure (<%=passengerCount%> pax)</p>
                                                        <p class="mb-0">Subtotal (<%=passengerCount%> pax)<span
                                                                    class="highlight float-end" id="sub_total">
                                                                    ₱ 0.00
                                                                </span> </p>

                                                    </div>
                                                </div>
                                                <div class="total">
                                                    <div class="p-4 rounded-4 shadow-sm">
                                                        <div class="discount mb-1">

                                                            <div class="row justify-content-between">
                                                                <div class="col-md-5"> <label for="discount"
                                                                        class="form-label">Discount
                                                                        (optional)</label></div>
                                                                <div class="col-md-7"><select class="form-control"
                                                                        id="discount" name="discount"
                                                                        onchange="applyDiscount()">
                                                                        <option value="">No Discount</option>
                                                                        <%discounts.forEach((discount)=> {%>
                                                                            <option value="<%=discount.discount_id%>"
                                                                                data-id="<%=discount.discount_percentage%>">
                                                                                <%=discount.discount_type%> - <%=
                                                                                        (discount.discount_percentage) *
                                                                                        100%>%
                                                                            </option>
                                                                            <%})%>



                                                                    </select></div>
                                                            </div>

                                                        </div>
                                                        <div class="id_number" id="idNumberInput"
                                                            style="display: none;">
                                                            <div class="row justify-content-between" id="">
                                                                <div class="col-md-5">
                                                                    <label for="idNumber" class="form-label">ID
                                                                        Number</label>
                                                                </div>
                                                                <div class="col-md-7">
                                                                    <input type="text" class="form-control"
                                                                        id="idNumber" name="id_number">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <p class="mb-0">Total: <span class="highlight float-end fs-5">
                                                                ₱ 0.00
                                                            </span> </p>

                                                    </div>
                                                </div>

                                                <input type="hidden" value="" id="sch_inp">

                                                <div class="term">
                                                    <div class="p-4 rounded-4 shadow-sm">

                                                        <input type="checkbox" class="form-check-input"
                                                            id="exampleCheck1" required>
                                                        <label class="form-check-label small" for="exampleCheck1"> I
                                                            agree to Terms and
                                                            Conditions
                                                            & Privacy Policy</label>

                                                    </div>
                                                </div>
                                                <div class="confirm">
                                                    <div class="p-4 rounded-4 shadow-sm">
                                                        <%if (user.role==='guess' ) {%>
                                                            <a href="/login" class="btn book-btn-1" type="button">Book
                                                                Seats</a>
                                                            <%} else {%>
                                                                <%if (departure !==new
                                                                    Date().toISOString().split('T')[0]) {%>
                                                                    <button id="submitBtn" class="book-btn">Book
                                                                        Seats</button>
                                                                    <%} else {%>
                                                                        <button type="button" class=" book-btn"
                                                                            data-bs-toggle="modal"
                                                                            data-bs-target="#exampleModal">
                                                                            Book
                                                                            Seats
                                                                        </button>
                                                                        <%}%>
                                                                            <%}%>





                                                    </div>
                                                </div>

                                            </div>

                        </form>
                    </div>
                    <%}%>

            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Apologies! Currently, you are unable to reserve or book certain schedules online for the
                            same day. To secure your ticket on the same day, please visit our terminal. To ensure a
                            smooth booking process without any issues, please note that the system disables specific
                            schedules 24 hours before the departure time if you're booking on the same day.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Scroll Top -->
            <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
                    class="bi bi-arrow-up-short"></i></a>

            <!-- Preloader -->
            <div id="preloader"></div>

            <!-- Vendor JS Files -->
            <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="/assets/vendor/aos/aos.js"></script>
            <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
            <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
            <script src="/vendor/sweetalert/sweetalert.js"></script>
            <!-- Main JS File -->
            <script src="/assets/js/main.js"></script>
            <script>
                function applyDiscount() {
                    let fareInput2 = document.getElementById('fare_inp');
                    var discountDropdown = document.getElementById('discount');
                    var selectedOption = discountDropdown.options[discountDropdown.selectedIndex].value;
                    var idNumberInput = document.getElementById('idNumberInput');
                    var idNumber = document.getElementById('idNumber');
                    let sub_total = document.querySelector('#sub_total')
                    let total = document.querySelector('.total .highlight');
                    // Check if a discount is selected (value is not empty)
                    if (selectedOption !== "") {
                        idNumberInput.style.display = 'block';
                        idNumber.required = true // Show the ID number input
                    } else {
                        idNumberInput.style.display = 'none';
                        idNumber.required = false // Hide the ID number input
                    }
                    var originalFare = document.getElementById('fare_inp2').value; // Get the original fare from the server

                    var discountElement = document.getElementById('discount');
                    var discountPercentage = parseFloat(discountElement.options[discountElement.selectedIndex].getAttribute('data-id')); // Get the selected discount percentage

                    // Check if discountPercentage is NaN (which means "No Discount" was selected)
                    if (isNaN(discountPercentage)) {
                        discountPercentage = 0; // Set discountPercentage to 0 if "No Discount" was selected
                    }

                    // Calculate the discounted fare
                    var discountedFare = originalFare * (1 - discountPercentage);

                    // Update the fare input field
                    document.getElementById('fare_inp').value = discountedFare.toFixed(2); // Format to 2 decimal places

                    sub_total.textContent = `₱ ${fareInput2.value}`
                    total.textContent = `₱ ${fareInput2.value}`
                }

            </script>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    const maxSeats = <%=passengerCount%>;  // Maximum seats a user can select, adjust as needed
                    const seats = document.querySelectorAll('.seat.available');
                    const seatStatus = document.getElementById('seat_status');
                    const booking_scroll = document.getElementById('booking_scroll');
                    const form = document.getElementById('bookingForm');

                    seats.forEach(function (seat) {
                        seat.addEventListener('click', function () {
                            // Count how many seats are currently selected
                            const selectedSeats = document.querySelectorAll('.seat.selected').length;

                            // Check if the seat is already selected
                            if (this.classList.contains('selected')) {
                                this.classList.remove('selected');
                            } else if (selectedSeats < maxSeats) {
                                // Only add 'selected' if we haven't reached the max limit
                                this.classList.add('selected');
                            } else {
                                alert(`You can only select up to ${maxSeats} seats.`);
                            }
                        });
                    });
                    const routes = <%- JSON.stringify(sub_routes) %>;
                    const origins = routes.map(route => route.origin);
                    const fares = routes.map(route => route.fare);

                    document.getElementById('autocompleteInput').addEventListener('input', function () {
                        let input = this.value;

                        let autocompleteList = document.getElementById('autocompleteList');
                        let fareInput = document.getElementById('fare_inp');
                        let fareInput2 = document.getElementById('fare_inp2');
                        let sub_total = document.querySelector('#sub_total')
                        let total = document.querySelector('.total .highlight');
                        autocompleteList.innerHTML = ''; // Clear previous autocomplete suggestions
                        fareInput.value = '₱ 0.00';
                        fareInput2.value = ''; // Clear fare field initially
                        sub_total.textContent = '₱ 0.00'
                        total.textContent = '₱ 0.00'
                        if (!input) {
                            autocompleteList.classList.remove('show');
                            return;
                        }

                        // Filter suggestions based on input
                        let suggestions = origins.filter(item => item.toLowerCase().startsWith(input.toLowerCase()));

                        if (suggestions.length === 0) {
                            fareInput.value = '₱ 0.00';
                            fareInput2.value = '';
                            sub_total.textContent = '₱ 0.00';
                            total.textContent = '₱ 0.00'; // Clear fare if no suggestions match
                        }

                        suggestions.forEach((filteredName, index) => {
                            let listItem = document.createElement('li');
                            listItem.classList.add('dropdown-item');
                            listItem.textContent = filteredName;
                            listItem.onclick = function () {
                                document.getElementById('autocompleteInput').value = filteredName;
                                fareInput.value = `₱ ${fares[origins.indexOf(filteredName)]}`;
                                fareInput2.value = (fares[origins.indexOf(filteredName)]) * maxSeats;
                                sub_total.textContent = `₱ ${(fares[origins.indexOf(filteredName)]) * maxSeats}`
                                total.textContent = `₱ ${(fares[origins.indexOf(filteredName)]) * maxSeats}`
                                autocompleteList.classList.remove('show');
                            };
                            autocompleteList.appendChild(listItem);
                        });

                        if (suggestions.length > 0) {
                            autocompleteList.classList.add('show');
                        } else {
                            autocompleteList.classList.remove('show');
                        }
                    });

                    form.addEventListener('submit', function (event) {
                        event.preventDefault(); // Prevent the default form submission
                        let fare_inp;
                        const apiUrl = '/postBookingDetails';
                        const sch_inp = document.querySelector("#sch_inp").value;
                        const fare_inp_discount = document.querySelector("#fare_inp").value;
                        const fare_inp_orig = document.querySelector("#fare_inp2").value;
                        const selectElement = document.querySelector('select[name="discount"]').value;

                        if (selectElement && maxSeats > 1) {
                            return Swal.fire({
                                position: "top-end",
                                icon: "error",
                                title: `Discount is applicable for one passenger only`,
                                showConfirmButton: false,
                                timer: 2000
                            })
                        }

                        if (fare_inp_discount < fare_inp_orig) {
                            console.log("HAVE DISCOUNT")
                            fare_inp = fare_inp_discount
                        } else {
                            console.log("NO DISCOUNT")
                            fare_inp = fare_inp_orig
                        }


                        const drop_off = document.querySelector("#autocompleteInput").value;
                        const dis_inp = document.querySelector("#discount").value;
                        const id_number = document.querySelector("#idNumber").value;

                        const selectedSeats = document.querySelectorAll('.seat.selected');
                        const selectedSeatIds = Array.from(selectedSeats).map(seat => seat.getAttribute('data-id').trim());


                        // Add alert if the maxSeats is not equal to what is selected
                        if (selectedSeats.length != maxSeats) {
                            seatStatus.innerText = `You have selected ${selectedSeats.length} seats, but the maximum allowed is ${maxSeats}. Please select the correct number of seats.`;
                            seatStatus.scrollIntoView({ behavior: 'smooth', block: 'start' });
                        } else if (fare_inp === '') {
                            Swal.fire({
                                position: "top-end",
                                icon: "error",
                                title: `Invalid Drop Off Point`,
                                showConfirmButton: false,
                                timer: 2000
                            })
                        } else {
                            // Define the API endpoint


                            // Create the data object containing the schedule ID
                            const data = {
                                sch_inp,
                                fare_inp,
                                selectedSeatIds,
                                drop_off, id_number, dis_inp
                            };

                            // Use fetch API to make a POST request
                            fetch(apiUrl, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify(data),
                            })
                                .then(response => response.json())
                                .then(data => {
                                    Swal.fire({
                                        position: "top-end",
                                        icon: "success",
                                        title: `${data.message}`,
                                        showConfirmButton: false,
                                        timer: 2000
                                    }).then(() => {
                                        window.location.reload();
                                    });
                                })
                                .catch((error) => {
                                    console.error('Error:', error);
                                });
                        }
                    });
                });


                async function bookingDetails(sch_id) {
                    // Define the API endpoint
                    const apiUrl = '/getBookingDetails';

                    // Create the data object containing the schedule ID
                    const data = {
                        sch_id
                    };

                    // Use fetch API to make a POST request
                    fetch(apiUrl, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(data),
                    })
                        .then(response => response.json())
                        .then(data => {

                            const seat_containers = document.querySelectorAll('#seat_container');

                            seat_container.classList.remove('d-none');
                            seat_container.classList.add('d-block');

                            booking_scroll.scrollIntoView({ behavior: 'smooth', block: 'start' });
                            // Reset all seats to available before updating based on new data
                            const seats = document.querySelectorAll('.seat');
                            seats.forEach(seat => {
                                seat.classList.remove('selected');
                                seat.classList.remove('unavailable', 'booked');
                                seat.classList.add('available');
                                seat.removeAttribute('disabled', 'disabled');
                            });


                            seats.forEach(seat => {
                                const seatId = seat.dataset.id.trim(); // Ensure to trim any extra spaces
                                if (data.available_seats.includes(parseInt(seatId))) {
                                    seat.classList.remove('available');
                                    seat.classList.add('unavailable', 'booked');
                                    seat.setAttribute('disabled', 'disabled'); // Disable the seat
                                }
                            });

                            // Update booking summary details
                            document.querySelector("#sch_inp").value = data.sch_id;

                            document.querySelector('#departure_time').textContent = `${data.departure_date} ${data.departure_time} `;
                            // Assuming passengerCount is defined

                        })
                        .catch((error) => {
                            console.error('Error:', error);
                        });
                }



            </script>
    </main>
</body>

</html>